body{
    width: 100%;
    padding: 0;
    margin: 0;
}
.content{
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    display: inline-block;
}
.col-sm-4, .col-sm-6, .col-sm-12{
    float: left;
}
.col-sm-12{
    width: 100%;
}
.col-sm-6{
    width: 50%;
}
.col-sm-4{
    width: 33.33333333%;
}
#one{
    background-color: blue;
    height: 60px;
}
#two{
    background-color: green;
    height: 630px;
}
#three{
    background-color: red;
    height: 300px;
}
#four{
    background-color: yellow;
    height: 690px;
}